<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" fxLayoutGap="10px" (ngSubmit) = "onSubmit(f)">
        <mat-form-field>
            <input 
            type="email" 
            matInput 
            placeholder="Your email" 
            ngModel 
            name="email"
            email
            required
            #emailInput="ngModel">
        </mat-form-field>
        
        <mat-form-field hintLabel="Should be 5 characters long">
            <input 
            type="password" 
            matInput 
            placeholder="Your password" 
            ngModel 
            name="password"
            required
            minlength="5"
            #pwInput="ngModel">
            <mat-hint align="end">{{pwInput.value?.length}}</mat-hint>
        </mat-form-field>
        <mat-error *ngIf="!pwInput.hasError('required')">Email/password is incorrect</mat-error>
        
        <button 
            type="submit" 
            mat-raised-button 
            color="primary"
            [disabled]="f.invalid">Submit</button>
    </form>
</section>
