<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onToggleSidenav()">
      <mat-icon>face</mat-icon>
      <span class="nav-captions">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onToggleSidenav()">
      <mat-icon>fitness_center</mat-icon>
      <span class="nav-captions">Login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onToggleSidenav()">
      <mat-icon>input</mat-icon>
      <span class="nav-captions">Training</span>
    </a>
    <mat-list-item>
        <button mat-icon-button>
          <mat-icon>eject</mat-icon>
          <span class="nav-captions">Logout</span>
        </button>
      </mat-list-item>
  </mat-nav-list>
  